@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

* {
  font-variant-numeric: tabular-nums;
}
html {
  height: 100dvh;
}

body,
#root {
  width: 100%;
  height: 100%;
}
